/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .container{
  margin: 25px;
  width: 80%;
  position: fixed;
  z-index: 1;
  padding-top: 25px;
  left: 100px;
  top: 0;
  height: 100%;
}
.input{
  width: 65%;
  margin-left: 170px;
  border: solid;
  border-radius: 3px;
  height: 20px;
  margin-bottom: 25px;
}
.save{
  
}

 .accordion {
  background-color: rgb(194, 229, 232);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 97%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  text-align: center;
  border-radius: 2px;
  margin-top: 2px;
  border-bottom: solid black 1px;
}
.flex {
  display: flex;
}
.hash {
  width: 100%;
  margin-left: 150px;
}

.buttons {
  width: 100%;
  margin-right: 50px;
  margin-left: -250px;
}

.active, .accordion:hover {
  background-color: #eee;
}

.panel {
  padding: 0 18px;
  background-color: #ccc;
  margin-left: 30px;
  width: 90%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border: solid black 1px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}